<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../vue.min.js"></script>
</head>
<body>
<!--
v-else指令
可以用v-else指令为v-if或v-show添加一个“else块”。v-else元素必须立即跟在v-if或v-show元素的后面——否则它不能被识别。
-->
<div id="box">
    <h1 v-if="yes">HELLO</h1>
    <h1 v-else>HELLO+no</h1>
    <h1 v-if="age>20">HELLO</h1>
    <h1 v-else-if="age=19">HELLO+19</h1>
    <h1 v-else>{{age}}</h1>
    <h1 v-if="name.indexOf('bob')>=0">{{name}}</h1>
    <h1 v-else>bobo:{{sex}}</h1>
</div>
<script>
    new Vue({
        el:"#box",
        data:{
            yes:false,
            no:false,
            age:19,
            name:"mike",
            sex:"boy"

        }
    })
</script>
</body>
</html>